body {
  font-family: Arial, sans-serif;
   margin: 20;
  padding: 10;
  background: rgb(197, 222, 244)
}

header, footer {
  background: #070707;
  color: rgb(212, 10, 10);
  padding: 1em;
  text-align: center;
}

nav a {
  color: beige;
  margin: 0 1em;
  text-decoration: none;
}

main {
  padding: 2em;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 400px;
}

input, textarea, select, button {
  padding: 0.5em;
  font-size: 1em;
}

button {
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}
.foot{
  margin-top: 300px;
  height: 50px;
  padding: 0px;
  padding-top: 7px;
}